<p id="notice"><%= notice %></p>

<p>
  <strong>Structure:</strong>
  <%= @template.structure %>
</p>

<p>
  <strong>Initial Prayer:</strong>
  <%= @template.initial_prayer %>
</p>

<p>
  <strong>Motivation:</strong>
  <%= @template.motivation %>
</p>

<p>
  <strong>Gospel:</strong>
  <%= @template.gospel %>
</p>

<p>
  <strong>Activities:</strong>
  <%= @template.activities %>
</p>

<p>
  <strong>Purpose:</strong>
  <%= @template.purpose %>
</p>

<p>
  <strong>Final prayer:</strong>
  <%= @template.final_prayer %>
</p>

<p>
  <strong>Annexed:</strong>
  <%= @template.annexed %>
</p>

<p>
  <strong>Calendar:</strong>
  <%= @template.calendar %>
</p>

<p>
  <strong>Initial year:</strong>
  <%= @template.initial_year %>
</p>

<p>
  <strong>Initial month:</strong>
  <%= @template.initial_month %>
</p>

<p>
  <strong>Initial day:</strong>
  <%= @template.initial_day %>
</p>

<p>
  <strong>Final year:</strong>
  <%= @template.final_year %>
</p>

<p>
  <strong>Final month:</strong>
  <%= @template.final_month %>
</p>

<p>
  <strong>Final day:</strong>
  <%= @template.final_day %>
</p>

<p>
  <strong>Monday gospel:</strong>
  <%= @template.monday_gospel %>
</p>

<p>
  <strong>Monday saints:</strong>
  <%= @template.monday_saints %>
</p>

<p>
  <strong>Tuesday gospel:</strong>
  <%= @template.tuesday_gospel %>
</p>

<p>
  <strong>Tuesday saints:</strong>
  <%= @template.tuesday_saints %>
</p>

<p>
  <strong>Wednesday gospel:</strong>
  <%= @template.wednesday_gospel %>
</p>

<p>
  <strong>Wednesday saints:</strong>
  <%= @template.wednesday_saints %>
</p>

<p>
  <strong>Thursday gospel:</strong>
  <%= @template.thursday_gospel %>
</p>

<p>
  <strong>Thursday saints:</strong>
  <%= @template.thursday_saints %>
</p>

<p>
  <strong>Friday gospel:</strong>
  <%= @template.friday_gospel %>
</p>

<p>
  <strong>Friday saints:</strong>
  <%= @template.friday_saints %>
</p>

<p>
  <strong>Saturday gospel:</strong>
  <%= @template.saturday_gospel %>
</p>

<p>
  <strong>Saturday saints:</strong>
  <%= @template.saturday_saints %>
</p>

<p>
  <strong>Sunday gospel:</strong>
  <%= @template.sunday_gospel %>
</p>

<p>
  <strong>Sunday saints:</strong>
  <%= @template.sunday_saints %>
</p>

<%= link_to 'Edit', edit_template_path(@template) %> |
<%= link_to 'Back', templates_path %>
